<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <connectionStrings>
    <add name="InvoiceConnection" connectionString="Data Source=.;Initial Catalog=Activity12Invoices;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="databaseErrorMessage" value="An error occured when trying to connect to the database"/>
  </appSettings>
  
</configuration>